target/
.idea

/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse
.git
executor.iml
output/
*.iml
# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.orig
tree.txt
# system ignore
.DS_Store
Thumbs.db